* {
    margin: 0px;
    padding: 0px;
}

.main {
    height: 100vh;
    background-image: linear-gradient(to right, rgb(14, 200, 242), rgb(95, 175, 38));
}

.decoration {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    height: 90px;
    width: 100%;
    background-image: linear-gradient(to right, rgb(199, 81, 81), rgb(130, 149, 117), rgb(125, 117, 101));
    color: white;
}

.li_decoration {
    margin-right: 80px;
}